body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    color: white;
    background-color: #111;
}

#title {
    margin: 0;
}

#list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
}

a {
    color: white;
    color: black;
}

#buttona {
    background-color: white;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

#buttonb {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}